@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-inter: "Inter", sans-serif;
  --font-dancing-script: "Dancing Script", cursive;
  --font-mea-culpa: "Mea Culpa", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.title-animate {
  animation: title-animate 1s linear both
}

.title-elegant {
  font-family: var(--font-mea-culpa);
}

.title-gold {
  color: rgb(255, 215, 0);
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

@keyframes title-animate {
  0% {
    letter-spacing: -.2em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}